.circle {
  min-width: 20px;
  height: 20px;
  border-radius: 50%; /* Makes it a circle */
  display: flex; /* Flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  overflow: hidden; /* Ensures the image doesn't overflow the circle */
  padding: 0;
  cursor: pointer;
}

.circleImage {
  width: 19px;
  height: 19px;
  object-fit: cover;
}
